{{!

If the user is logged in and they are an admin user, and 'GET /admin' endpoint is called, you will render this view
based on the specs.



}}

Welcome {{firstName}}, the time is now: {{currentTime}}. You get super secret admin access since you are an admin.
Remember, with great power comes great responsibility

<br />

<img src="https://media.tenor.com/dMaEY-TmGJoAAAAC/spider-man.gif" class="img-fluid rounded-top" alt="spooderman">

<br />
<a href="/protected" target="_self">/Protected</a>
<br />