{{!

You can use this if they try to access a route that they should not be able to. You will redirect them here. For
example, if they go to /protected without being logged in, or they try to access /admin without beinging logged in or
they are not an admin user.

}}
<h1>{{error}}</h1>
<img src="https://media.tenor.com/x8v1oNUOmg4AAAAd/rickroll-roll.gif" class="img-fluid rounded-top"
    alt="Forbidden, No Access">
<br />

<a href="/" target="_self">Go back</a>