{{!

logout handlebar template

}}
<img src="https://media.tenor.com/2pqO0fHROlsAAAAC/beautiful-time-bye.gif" class="img-fluid rounded-top" alt="Bye Bye">
<br />

<a href="/" target="_self">Go back to Home Page</a>